MONGODB_URI=
SESSION_SECRET=
KAKAO_MAP_API=
KAKAO_REST_API=
SEOUL_RTD_API=
GOOGLE_CLIENT_ID = 
GOOGLE_CLIENT_SECRET = 
NAVER_CLIENT_ID =
NAVER_CLIENT_SECRET =
EXCEL_PATH =
FRONTEND_URL=http://localhost:5173